.App {
  text-align: center;
}

.Center {
  height: 200px;
  align-items: baseline;
  border-style: solid;
  border-color: aqua;
  background-color: rgb(255, 252, 246);
}

.Move {
  margin: 5px;
  border: 1px;
  border-style: ridge;
  border-color: black;
}